<div class="auth-wrapper">
  <div class="card">

    <h1>Sign in</h1>

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
    />

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
    />

    <button (click)="login()" [disabled]="loading">
      {{ loading ? 'Signing in...' : 'Sign in' }}
    </button>

  <div class="switch-auth">
    <span>Don't have an account? </span>
    <button routerLink="/register">Sign up</button>
  </div>

    <p class="error" *ngIf="error">{{ error }}</p>

  </div>
</div>
