# ========================
# Rust
# ========================
target/
**/target/

# Cargo.lock


# ========================
# Logs
# ========================
*.log

# ========================
# IDE
# ========================
.vscode/
.idea/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Docker
# ========================
*.tar
