<div class="container">

  <div class="topbar">
    <h2>Accounts</h2>

    <div class="actions">
      <button (click)="goToList()">Accounts</button>
      <button (click)="goToCreate()">Create account</button>
      <button (click)="goToTransfer()">Transfer</button>
      <button (click)="logout()">Logout</button>
    </div>
  </div>

  <!-- ================= LIST ================= -->
  <div *ngIf="currentView === 'list'" class="card">
    <h3>Your accounts</h3>

    <div *ngFor="let acc of accounts" class="account-row">
        <span>
        {{ acc.currency }} — {{ acc.balance }}
        <br>
        <small class="account-id">ID: {{ acc.id }}</small>
        </span>
      <button (click)="showTransactions(acc.id)">Transactions</button>
    </div>
  </div>

  <!-- ================= CREATE ================= -->
  <app-create-account *ngIf="currentView === 'create'"></app-create-account>

  <!-- ================= TRANSFER ================= -->
  <div *ngIf="currentView === 'transfer'" class="card">
    <h3>Transfer</h3>

    <input placeholder="From account id" [(ngModel)]="fromAccount">
    <input placeholder="To account id" [(ngModel)]="toAccount">
    <input type="number" placeholder="Amount" [(ngModel)]="transferAmount">

    <button (click)="transfer()">Send</button>
  </div>

  <!-- ================= TRANSACTIONS ================= -->
  <app-transactions
    *ngIf="currentView === 'transactions'"
    [accountId]="selectedForTransactions">
  </app-transactions>

</div>